html,body,div,ul,dl,dd{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.api_header{
    width: 100%;
    height: 60px;
    background: #0055aa;
}
.api_logo{
    width: 100px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/kmap.png") no-repeat center;
}
.api_font{
    vertical-align: middle;
    color: #ffffff;
}

.api_container{
    width: 100%;
    height: 100%;
}
.api_nav{
    width: 280px;
    height: 100%;
    float: left;
    border-right: 1px solid #cacaca;
}
.api_nav li{
    width: 96%;
    margin: 0 auto;
    line-height: 40px;
    text-indent: 5px;
    font-size: 13px;
    cursor: pointer;
    border-bottom: 1px solid #cacaca;
}
.api_nav li i.i_open{
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../images/result.png) no-repeat 0 -96px;
}
.api_nav li i.i_close{
    background-position-y: -119px;
}
.api_nav li span{
    vertical-align: middle;
}
.api_nav li .api_nav_list{
    padding-bottom: 5px;
    display: none;
}
.api_nav li .api_nav_list dd{
    line-height: 30px;
}
.api_nav li .api_nav_list dd:before{
    border-bottom: 1px dotted #b0b5c2;
    content: "";
    display: inline-block;
    width: 20px;
    margin: -36px 0 3px 6px;
    padding-bottom: 13px;
    height: 15px;
    border-left: 1px dotted #b0b5c2;
}
.api_nav li .api_nav_list dd a{
    color: #333333;
    text-decoration: none;
}
.api_nav li span:hover,
.api_nav li span.active,
.api_nav li .api_nav_list dd a.active,
.api_nav li .api_nav_list dd a:hover{
    color: #0000cc;
}
.api_nav li .api_nav_list dd a:before{
    content: "·";
    margin: 0 3px;
    font-weight: bolder;
}
.right_container,
.map{
    display: block;
    overflow: hidden;
    height: 100%;
}
.code-box{
    width: 500px;
    height: 100%;
    float: left;
    border-right: 2px solid #cacaca;
    cursor: e-resize;
}
.code-font{
    height: 24px;
    line-height: 24px;
    text-indent: 5px;
    font-size: 12px;
    background: #f0f0f0;
    cursor: default;
}
.code-font a{
    color: #3189f3;
    text-indent: 18px;
    font-size: 12px;
    margin-right: 10px;
    float: right;
    text-decoration: none;
    vertical-align: middle;
    background: url("../images/result.png") no-repeat;
}
.code-font a:hover{
    font-weight: bolder;
}
.code-font .code-run{
    background-position: 0 -19px;
}
.code-font .code-refresh{
    background-position: -2px -43px;
}
.code-font .code-help{
    background-position: 0 -67px;
}

.right_container{
    position: relative;
}
.right_container .toggle{
    position: absolute;
    content: "";
    width: 14px;
    height: 90px;
    background: url("../images/result.png") no-repeat 0 -142px;
    left: 0;
    top: 48%;
    z-index: 99999;
}